.account-nav-list li a {
    color: var(--semi-black-color) !important;
}

.account-nav-list li.active a {
    color: var(--header-info-color) !important;
}

.account-info-group {
    margin-top: 16px;
}

#account h2 {
    font-size: 19px;
}