body {
    background: #F5F7FA;
}

.form-group:first-child {
    margin-top: 0;
}

.form-group {
    margin-top: 20px;
}

textarea {
    height: 200px;
}

.form-group h4 {
    font-weight: bold;
}

.thumbnail-group div.border {
    padding: 48px 0;
    cursor: pointer;
    border-style: dashed !important;
}

.thumbnail-group i.fa-regular {
    font-size: 40px;
    color: #6E7891;
}

.dismiss-btn {
    cursor: pointer;
}