aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    padding: 8px 0;
    border-bottom: none;
    color: #898989;
}

aside ul li ul {
    position: relative;
    top: 9px;
    padding-left: 32px;
}

aside h5 {
    margin-bottom: 0;
}

aside i.fa {
    transition: all .3s;
    font-size: 10px;
}

aside i.fa.rotate90 {
    transform: rotate(90deg);
}

aside .sidebar-menu-list li {
    border-bottom: 1px dashed #EBEBEB;
}