/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 21, 2023, 10:10:48 AM
    Author     : Masato
*/

:root {
    --header-info-color: #F76758;
    --main-color: #00BC86;
    --secondary-color: #EDFAF1;
    --third-color: #FFF8F6;
    --price-color: #f76758;
    --home-group-color: #FBB72C;
    --container-line: #FBC046;

    --regular-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.text-main {
    color: var(--main-color) !important;
}

.text-red {
    color: red;
}

.bg-main {
    background-color: var(--main-color) !important;
}

.no-border-outline {
    border: 0;
    outline: none !important;
}

.no-border-outline:focus {
    border: 0;
    outline: none !important;
}

.btn-main {
    color: var(--main-color) !important;
    background: #C7F0E4;
}

.btn-main-auth {
    color: #FFF !important;
    background-color: var(--main-color);
    text-align: center;
    border: none;
    outline: none !important;
    padding: 8px;
}

.auth-btn {
    font-size: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 8px;
    transition: all .3s;
}

.auth-btn:hover {
    opacity: .7;
    cursor: pointer;
}