.auth-container {
    width: 410px;
    margin: 0 auto;
    display: block;
}

.form-group label {
    display: block;
}

.form-group input {
    width: 100%;
    padding: 8px 16px;
    border: 1px solid #e1e1e1;
}

.form-group input:focus {
    outline: none !important;
}

.google-auth {
    text-decoration: none;
    color: #FFF;
    background-color: #E14B33;
    padding: 8px 16px;
    width: 40%;
    text-align: center;
}

.facebook-auth {
    text-decoration: none;
    color: #FFF;
    background-color: #3b5998;
    padding: 8px 16px;
    width: 40%;
    text-align: center;
    border: none;
    outline: none !important;
}