#cart td img {
    width: 130px;
    height: 98px;
    border-radius: 8px;
}

#cart td button {
    background-color: #FFF;
    border: none;
    outline: none !important;
}

#cart .cart-detail-delete-btn {
    cursor: pointer;
}