body {
    font-family: 'Roboto', sans-serif;
}

.checkout-title {
    color: #2a9dcc;
}

.checkout-info {
    background-color: #FAFAFA;
    height: 100vh;
    color: #333;
}

.checkout-amount {
    padding: 16px;
    border-bottom: 1px solid #e1e1e1;
}

.checkout-courses {
    padding: 16px;
    border-bottom: 1px solid #e1e1e1;
}

.checkout-total-tempotary {
    padding: 16px;
    border-bottom: 1px solid #e1e1e1;
}

.checkout-total {
    padding: 16px;
    border-bottom: 1px solid #e1e1e1;
}

.total-price {
    font-size: 24px;
    color: #2a9dcc;
}

.checkout-footer {
    padding: 16px;
    border-bottom: 1px solid #e1e1e1;
}

.checkout-footer a {
    text-decoration: none;
    color: #2a9dcc;
    transition: all .3s;
}

.checkout-footer a:hover {
    color: #054761;
}

.checkout-footer button {
    padding: 16px 24px;
    color: #fff;
    background: #2a9dcc;
    border: none;
    outline: none;
    border-radius: 8px;
}

.checkout-footer button:hover {
    background: #054761;
}

.checkout-course-price {
    text-align: right;
    display: block;
}

.checkout-cousre-thumbnail {
    height: 40px;
}

.amount-wrapper {
    position: relative;
}

.checkout-course-amount {
    position: absolute;
    background-color: #2a9dcc;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -8px;
    left: 80%;
    width: 13px;
    height: 13px;
    padding: 9px;
}