.course_container .course-item {
    height: fit-content;
}

.course_container .course-item-info-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.course_container .course-item img {
    height: 200px;
}

.course_container .course-item-info-prices-new-price {
    font-size: 20px;
}

.course_container .course-item-info-prices-old-price {
    font-size: 16px;
}

.course_container .course-backside h4 {
    font-weight: bold;
    margin-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.course_container .course-backside p {
    margin-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.course_container .course-backside .course-backside-description {
    height: 63px;
}

#filterButton {
    display: none;
}

@media (max-width: 767px) {
    #filterButton {
        display: block;
    }
}